@import './reset.css';

:root {
  --clr-dark: 12 1 34;
  --clr-light: 201 201 201;
  --clr-accent: 86 199 212;

  --ff-main: 'Outfit', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

body {
  font-family: var(--ff-main);
  background-color: rgb(var(--clr-dark));
  color: rgb(var(--clr-light));
}

/* Header and Navbar */
.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: rgb(var(--clr-light));
  padding: 1.5rem 0;
  transition: color 250ms ease;
}

.nav__link:active {
  color: rgb(var(--clr-accent));
}

/* Content */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* Slider */
.slider {
  position: relative;
  width: 100%;
  cursor: grab;
}

.scroll-indicator {
  position: absolute;
  bottom: -1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  color: rgb(var(--clr-light) / 0.9);
  transform: translateY(100%);
  animation: fade-in-out 2s infinite;
  cursor: auto;
}

.scroll-arrow {
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
  animation: bounce-right 1.5s infinite;
}

.slider-wrapper {
  --gap: 2rem;

  white-space: nowrap;
}

/* Slider items */
.slider-item {
  display: inline-block;
  width: 80vw;
}

.slider-item + .slider-item {
  margin-left: var(--gap);
}

.slider-item__figure {
  position: relative;
  aspect-ratio: 4 / 3;
  padding-bottom: calc(3 / 4 * 100%);
  overflow: hidden;
}

.slider-item__image {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

@media (hover: hover) and (pointer: fine) {
  .nav__link:hover {
    color: rgb(var(--clr-accent));
  }
}

@media screen and (min-width: 36rem) {
  .slider-item {
    width: 60vw;
  }
}

@media screen and (min-width: 48rem) {
  .slider-item {
    width: 40vw;
  }
}

@keyframes fade-in-out {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes bounce-right {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px);
  }
}
